/*********************/
/** General styling **/
/*********************/
body{
    margin: 0px;
    background-color: #0e0e0e;
}
h1,h2,h5{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-decoration: none;
}
/* Flex CSS */
/*styling for the top header*/
.flex > header{
    height: 200px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: darkorange;
}
/*sizing for the image inside the header */
.flex > header > div{
    width: auto;
    height: 130px;
    flex-grow: 1;
}
/*styling to make the image fit in the header*/
.flex > header > div > a > img{
    width: auto;
    height:100%;
}
/*styling for the text in the header*/
.flex > header > div > h5{
    
    font-size: 2.5em;
    margin: 40px; /*center it with the image*/
}
/*styling for the links inside the header*/
 .flex > header > nav> menu > li > a{
     color: #0e0e0e;
 }
/*styling for the background image*/
.flex > div > main > section:first-child{
    width: 100%;
    height: 80vh;
    background-image: url("../img/order-pizza.webp");
    background-size: cover;
}
/*styling to make the background image transparent*/
.flex > div > main > section:first-child > div{
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   background-color: rgba(0,0,0,.7);
}
/*styling for the text covering the background image*/
.flex > div > main > section:first-child > div > h1{
    font-size: 3.5em;
    color: #f4f4f4;
    text-align: center;
}
/*styling for the choice headers*/
.flex > div > main > form section h2{
    color: #f4f4f4;
    background-color: #0e0e0e;
    padding: 2%;
    text-align: center;
    font-size: 1em;
}

/*styling for the size choices*/
.flex > div > main> form section{
    text-align: center;
    color: orange;
    background-color: #0e0e0e;
}

/*padding between the toppings choices and the enter information message*/
.flex div main form div p{
    padding-top: 2%;
}

/*footer styling*/
.flex footer{
    color: #f4f4f4;
    text-align: center;
    justify-content: center;
}